.moderation/node_modules/
.moderation/data/
.moderation/npm-debug.log*
.moderation/yarn-debug.log*
.moderation/pnpm-debug.log*
scripts/upload.js
scripts/check_groq_keys.js
scripts/scan_levels.js
scripts/unmute.js
scripts/verify_rag.js
scripts/sync.js
scripts/update.js
scripts/list_servers.js
scripts/leave_server.js
scripts/deleteMessage.js
scripts/fetch_stats.js
.moderation/faq.txt
scripts/webhook.js
scripts/upload_data.js
.moderation/src/scripts/syncServerHistory.js
.moderation/storage

.economy/node_modules/
.economy/*.log
.economy/.DS_Store
.economy/dist/
.economy/build/

# Top Level
node_modules/
.DS_Store
*.log
.page/